CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json
sample

propriate_task_U_1/CMakeFiles/
propriate_task_U_1/cmake_install.cmake
propriate_task_U_1/CMakeCache.txt
propriate_task_U_1/compile_commands.json
propriate_task_U_1/Makefile
propriate_task_U_1/p1
propriate_task_U_1/p2

propriate_task_U_2/CMakeFiles/
propriate_task_U_2/cmake_install.cmake
propriate_task_U_2/CMakeCache.txt
propriate_task_U_2/compile_commands.json
propriate_task_U_2/Makefile
propriate_task_U_2/p1
